<!DOCTYPE html>
<html>
<head>
  <title>Workshop</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
  </ul>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
